/* To do: 
Få Author og description på hver book card og pris.
Tilføj pris til book.json?
Lav mere styling på books, så det ligner mere Wireframen.  */

/* Shop page */

.shop-headers {
margin: 20px;
padding: 20px 0;    
text-align: center;
background-color: rgb(243, 243, 243);
border: 3px solid #28ab9c;
border-radius: 12px;
}
.shop-headers h1{
    color: #28ab9c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 92px;
    text-shadow: 2px 2px #18685e;
   
    
}
.shop-headers h3{
    color: #1e8075;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-shop {
    padding: 40px;
}
.card-img-top {
    max-width: 330px;
    height: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card {
    border-radius: 12px;
    margin-bottom: 40px;
}

.card .border-none {
    border: none;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

    .filters {
        display:inline-flex;
    }

    .filter {
        margin: 40px;
    }
    .filter h3 {
        margin: 0 0 12px 0;
    }
    .filter input {
        margin: 0 8px 0 0px;
    }


/* Navbar  */
/* Filter */
.filter-container {
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: rgb(40, 171, 156);
    color: white;
}
.filter-container label {
    font-size: 22px;
    margin-right: 4px;
    text-shadow: 1px 1px #000;
}
select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 6px;
    min-width: 200px;
}
