body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.index-header {
  height: 100vh;
  max-width: 100%;
  text-align: center;
  padding-top: 35vh;
  color: white;
  overflow: hidden;
  background: black; /* fallback for old browsers */
  background: radial-gradient(#ffffff00, #04875540),
    url(https://images.unsplash.com/photo-1524492514790-8310bf594ea4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMHBsYW50fGVufDB8fDB8fA%3D%3D&w=1000&q=80); /* Chrome 10-25, Safari 5.1-6 */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "DM Sans";
  font-weight: 300;
}
.index-header-h1 {
  color: #fff;
  background-image: radial-gradient(#1e8075aa, #1e807500);
}
